.container {
    background-color: #F5F5F5;
    width: 250px;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 30px;
    align-items: flex-start;
    margin-left: 40%;
}

input {
    color: black;
    border-radius: 10px;
    font: 15px system-ui;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: black;
    color: white;
    border-radius: 10px;
    font: 13px system-ui;
    padding: 5px;
}

.admin-fields{
    display: flex;
    padding-bottom: 6px;
}

.pin-field{
    display: flex;
    padding-bottom: 10px;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 10px;
}

.admin-button {
    margin-right: 6px;;
}
