body{
  background-color: #131720;
  font-family: sans-serif;
}

.title{
  /* text-align: center; */
  padding-left: 40%;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
}

.welcome{
  color: white;
  padding-left: 20px;
  padding-bottom: 50px;
}