body{
  background-color: #131720;
  font-family: sans-serif;
  padding: 20px;
}

.title{
  padding-left: 40%;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
}

.welcome{
  color: white;
  padding-bottom: 100px;
}

.onboard-card {
  display: flex;
  flex-direction: column;
  float: left;
  background-color: #F5F5F5;
  /* width: 100px; */
  border-radius: 11px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.employee-button{
  display: flex;
  padding-bottom: 10px;
}